#striped-table
{
	width:100%;
	border-collapse:collapse;
	font-family:sans-serif;
}
#striped-table th
{
	padding:20px 0;
	text-align:left;
	color:black;
	background-color:#h22222;
	border:1px solidgrey;
}
#striped-table td
{
	padding:8px;
	border:1px solidgrey;
}
#striped-table tr:nth-child(even)
{
	background-color:#f2f2f2;
}
#striped-table tr:hover
{
	background-color:burlywood;
}
